---
import { Code } from 'astro:components';

interface Props {
  code?: string;
}

const { code = "" } = Astro.props;
---

<div class="relative flex flex-col overflow-hidden rounded-2xl border border-zinc-900 bg-zinc-950 my-6 group/example">
  <button 
    class="copy-button absolute top-3 right-3 z-20 p-2 rounded-lg border border-zinc-800 bg-zinc-950 text-zinc-400 opacity-0 group-hover/example:opacity-100 transition-all hover:bg-zinc-900 hover:text-white"
    data-code={code}
    title="Copy code"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="copy-icon"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="check-icon hidden text-green-500"><polyline points="20 6 9 17 4 12"></polyline></svg>
  </button>

  <div class:list={[
    "flex items-center justify-center p-4 min-h-92 md:p-12 bg-[radial-gradient(#18181b_1px,transparent_1px)] [bg-size:20px_20px]",
  ]}>
    <slot />
  </div>

  <details class="border-t border-zinc-900 bg-zinc-900/20">
    <summary class="flex items-center justify-end px-4 py-2 cursor-pointer list-none select-none">
      <span class="text-[10px] uppercase tracking-widest text-zinc-500 hover:text-white transition-colors font-bold">
        View Code
      </span>
    </summary>
    <div class="p-4 bg-[#0d1117] border-t border-zinc-900 overflow-hidden text-sm code-container">
      <Code code={code} lang="svelte" theme="github-dark" />
    </div>
  </details>
</div>

<script>
  const copyButtons = document.querySelectorAll('.copy-button');

  copyButtons.forEach(button => {
    button.addEventListener('click', () => {
      const code = button.getAttribute('data-code');
      const copyIcon = button.querySelector('.copy-icon');
      const checkIcon = button.querySelector('.check-icon');

      if (code) {
        navigator.clipboard.writeText(code).then(() => {
          copyIcon?.classList.add('hidden');
          checkIcon?.classList.remove('hidden');

          setTimeout(() => {
            copyIcon?.classList.remove('hidden');
            checkIcon?.classList.add('hidden');
          }, 2000);
        });
      }
    });
  });
</script>

<style is:global>
  @reference "../styles/global.css";
  .code-container pre {
    @apply text-sm m-0! bg-transparent! p-0! border-none! shadow-none! ring-0! leading-relaxed!;
  }
</style>