---
interface Props {
  headings: { depth: number; slug: string; text: string }[];
}

const { headings } = Astro.props;
const filteredHeadings = headings.filter((h) => h.depth > 1 && h.depth < 4);
---

{
  filteredHeadings.length > 0 && (
    <div class="sticky top-0">
      <h4 class="text-[10px] font-bold mb-5 text-zinc-500 uppercase tracking-[0.2em]">
        On this page
      </h4>
      <nav class="flex flex-col border-l border-zinc-900">
        {filteredHeadings.map((h) => (
          <a
            href={`#${h.slug}`}
            class:list={[
              "text-sm transition-all duration-200 hover:text-orange-500 border-l -ml-px py-1.5",
              {
                "pl-6 text-zinc-500 border-transparent": h.depth === 3,
                "pl-4 text-zinc-400 border-transparent hover:border-orange-500": h.depth === 2,
              },
            ]}
          >
            {h.text}
          </a>
        ))}
      </nav>
    </div>
  )
}