@layer base {
  @keyframes click-ripple-effect {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  @keyframes checkbox-pop {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-checkbox-pop {
    animation: checkbox-pop 200ms ease-out;
  }

  .ease-switch-custom {
    transition-timing-function: cubic-bezier(0.15, 0.8, 0.2, 1);
  }

  .switch-thumb-pressed {
    width: 8.75rem !important;
  }
  .switch-thumb-pressed-sm {
    width: 1rem !important;
  }
  .switch-thumb-pressed-lg {
    width: 2.15rem !important;
  }

  .ease-slider {
    transition-property: width, left;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  .ease-segmented {
    transition-property: transform, width;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}
