@theme {
  --opacity-hover: 0.34;
  --opacity-hover-sutil: 0.15;
  --opacity-disabled: 0.4;

  --color-surface: #ffffff;
  --color-hover: #8d8d8d;

  --color-primaryText: #111827;
  --color-secondaryText: #4b5563;
  --color-placeholderText: #9ca3af;

  --color-primaryControl: #ff3e00;
  --color-primaryControlHover: #2563eb;
  --color-secondaryControl: #e5e7eb;
  --color-secondaryControlHover: #d1d5db;
  --color-destructive: #dc2626;
}

@layer base {
  .dark {
    --opacity-hover: 0.2;
    --opacity-hover-sutil: 0.06;
    --opacity-disabled: 0.3;

    --color-surface: #101010;
    --color-hover: #d8d8d8;

    --color-primaryText: #f9fafb;
    --color-secondaryText: #a2a2a2;
    --color-placeholderText: #3d3e3f;

    --color-primaryControl: #ff3e00;
    --color-primaryControlHover: #ff5921;
    --color-secondaryControl: #181818;
    --color-secondaryControlHover: #374151;
    --color-destructive: #f12c2c;
  }
}
