@theme {
  --color-surface: #ffffff;
  --color-primaryText: #111827;
  --color-secondaryText: #4b5563;
  --color-placeholderText: #9ca3af;
  --color-primaryControl: #ff3e00;
  --color-primaryControlHover: #2563eb;
  --color-secondaryControl: #e5e7eb;
  --color-secondaryControlHover: #d1d5db;
  --color-destructive: #dc2626;
}

@layer base {
  .dark {
    --color-surface: #101010;
    --color-primaryText: #f9fafb;
    --color-secondaryText: #a2a2a2;
    --color-placeholderText: #3d3e3f;
    --color-primaryControl: #ff3e00;
    --color-primaryControlHover: #ff5921;
    --color-secondaryControl: #181818;
    --color-secondaryControlHover: #374151;
    --color-destructive: #f12c2c;
  }
}
