@utility material-elevated {
  box-shadow:
    inset 0 2px 0px 0 rgba(255, 255, 255, 0.12),
    inset 0 -2px 0px 0 rgba(0, 0, 0, 0.14);
}

@utility material-elevated-light {
  box-shadow:
    inset 0 2px 0px 0 rgba(255, 255, 255, 0.02),
    inset 0 -2px 0px 0 rgba(0, 0, 0, 0.12);
}

@utility material-interactive {
  @apply transition-all duration-200 active:scale-98 disabled:scale-100;
}
