@layer components {
  .button {
    @apply material-interactive;
    @apply relative overflow-hidden inline-flex items-center justify-center rounded-control font-medium transition-colors duration-200 cursor-pointer disabled:cursor-auto;
    @apply leading-none text-center whitespace-nowrap select-none;
  }

  .button__content {
    @apply h-full w-full gap-[var(--btn-gap)] items-center;
  }

  .button--primary {
    @apply material-elevated bg-primaryControl text-white hover:bg-primaryControlHover disabled:bg-gray-300;
  }

  .button--secondary {
    @apply material-elevated-light bg-secondaryControl text-secondaryText hover:bg-secondaryControlHover disabled:opacity-50;
  }

  .button--ghost {
    @apply bg-transparent text-primaryText hover:bg-secondaryControl/50 disabled:opacity-30;
  }

  .button--sm {
    @apply h-9 px-4 text-sm;
    --btn-gap: 0.5rem;
  }

  .button--md {
    @apply h-10 px-5 text-sm;
    --btn-gap: 0.575rem;
  }

  .button--lg {
    @apply h-11 px-6 text-base;
    --btn-gap: 0.65rem;
  }
}
