@layer components {
  .checkbox-group {
    @apply flex items-start gap-3 select-none;
  }

  .checkbox-container {
    @apply relative flex items-center justify-center h-5 w-5 mt-0.5;
  }

  .checkbox-container input[type="checkbox"] {
    @apply absolute inset-0 opacity-0 z-20 w-full h-full;
    @apply cursor-pointer disabled:cursor-auto;
  }

  .checkbox-box {
    @apply flex h-5 w-5 shrink-0 items-center justify-center rounded-lg border-2 transition-all duration-200;
    @apply bg-secondaryControl border-secondaryControl cursor-pointer;
  }

  .checkbox-group:not(:has(input:disabled)):hover .checkbox-box:not(.checkbox-box--checked) {
    @apply bg-secondaryControlHover border-secondaryControlHover;
  }

  .checkbox-group:not(:has(input:disabled)):hover .checkbox-box--checked {
    @apply bg-primaryControlHover border-primaryControlHover;
  }

  .checkbox-box--checked {
    @apply bg-primaryControl border-0;
    @apply material-elevated;
  }

  .checkbox-box--disabled {
    @apply opacity-30 cursor-auto;
  }

  .checkbox-label-wrapper {
    @apply flex flex-col justify-center min-h-6 cursor-pointer;
  }

  .checkbox-label-wrapper--disabled {
    @apply cursor-auto;
  }

  .checkbox-label {
    @apply text-sm font-medium text-primaryText leading-tight;
  }

  .checkbox-description {
    @apply text-xs text-secondaryText mt-1;
  }

  .checkbox-icon {
    @apply h-3.5 w-3.5 text-white;
  }
}
