@layer components {
  .input-otp-wrapper {
    display: block;
    width: min-content;
    min-width: 100%;
    @apply max-w-full;
  }

  .input-otp-container {
    @apply flex items-center gap-2;
  }

  .input-otp-slot {
    @apply text-center px-0 w-10 transition-all;
    @apply focus:z-10 focus:ring-4 focus:ring-primaryControl/20;
  }

  .input-otp-separator {
    @apply w-2 h-0.5 bg-secondaryText rounded-full opacity-50 shrink-0;
  }

  .input-otp-slot.input--sm {
    @apply w-8 h-9 text-sm;
  }

  .input-otp-slot.input--md {
    @apply w-9 h-10 text-base;
  }

  .input-otp-slot.input--lg {
    @apply w-10 h-12 text-lg;
  }

  .input-group {
    @apply flex flex-col w-full gap-4;
  }

  .input-group--disabled {
    @apply opacity-30 pointer-events-none;
  }

  .input {
    @apply relative inline-flex items-center rounded-control border border-transparent transition-all duration-200;
    @apply bg-secondaryControl text-primaryText placeholder:text-placeholderText;
    @apply focus:outline-none focus:ring-4 focus:ring-primaryControl/20 focus:border-primaryControl;
    @apply disabled:cursor-not-allowed;
  }

  .input-label {
    @apply text-sm font-medium text-primaryText leading-tight px-1;
    @apply break-words overflow-hidden max-w-full block mb-2;
  }

  .input-description {
    @apply text-xs text-secondaryText mt-2 px-1 leading-normal;
    @apply break-words overflow-hidden max-w-full block;
  }
}
