@layer components {
  .slider-group {
    @apply flex w-full flex-col gap-2 select-none;
  }

  .slider-container {
    @apply relative flex items-center w-full h-6;
  }

  .slider-container input[type="range"] {
    @apply absolute inset-0 opacity-0 cursor-pointer z-20 w-full h-full;
  }

  .slider-track {
    @apply relative w-full flex items-center bg-secondaryControl rounded-full cursor-pointer overflow-hidden touch-none;
  }

  .slider-track--disabled {
    @apply opacity-50 cursor-not-allowed bg-gray-200;
  }

  .slider-track--sm {
    @apply h-4;
  }
  .slider-track--md {
    @apply h-5;
  }
  .slider-track--lg {
    @apply h-6;
  }

  .slider-fill {
    @apply absolute left-0 top-0 bottom-0 bg-primaryControl h-full rounded-r-full [will-change:width];
    width: calc(
      (var(--padding) + (var(--percentage) * (100% - var(--thumb-width) - (var(--padding) * 2)))) +
        var(--thumb-width) + var(--padding)
    );
  }

  .slider-thumb-wrapper {
    @apply absolute top-1/2 -translate-y-1/2 [will-change:left];
    left: calc(
      var(--padding) + (var(--percentage) * (100% - var(--thumb-width) - (var(--padding) * 2)))
    );
  }

  .slider-thumb {
    @apply block rounded-full bg-white ring-0 pointer-events-none;
    @apply shadow scale-100 transition-all duration-150 ease-out;
  }

  .slider-thumb[data-active="true"] {
    @apply shadow-sm scale-90;
  }

  .slider-thumb--sm {
    @apply h-3;
    width: var(--thumb-width);
  }
  .slider-thumb--md {
    @apply h-4;
    width: var(--thumb-width);
  }
  .slider-thumb--lg {
    @apply h-5;
    width: var(--thumb-width);
  }

  .slider-info {
    @apply flex justify-between items-center px-1;
  }

  .slider-label-wrapper {
    @apply flex flex-col cursor-pointer;
  }

  .slider-label {
    @apply text-sm font-medium text-primaryText leading-none;
  }

  .slider-description {
    @apply text-xs text-secondaryText mt-1;
  }

  .slider-value {
    @apply text-xs font-medium text-secondaryText tabular-nums;
  }
}
