@layer components {
  .switch-group {
    @apply inline-flex items-start gap-3 select-none;
  }

  .switch-container {
    @apply relative flex items-center flex-shrink-0;
  }

  .switch-input {
    @apply sr-only;
  }

  .switch-track {
    @apply flex items-center p-0.5 rounded-full cursor-pointer;
    @apply transition-colors duration-300 ease-out;
    @apply bg-secondaryControl;

    .switch-input:focus + & {
      @apply ring-2 ring-primaryControl/20;
    }
  }

  .switch-track:not([data-disabled="true"]):not([data-state="checked"]):hover {
    @apply bg-secondaryControlHover;
  }

  .switch-track[data-state="checked"] {
    @apply bg-primaryControl;
  }

  .switch-track[data-disabled="true"] {
    @apply opacity-50 cursor-auto;
  }

  .switch-track--sm {
    @apply h-4 w-8;
    --thumb-offset: 0.71875rem;
  }
  .switch-track--md {
    @apply h-5 w-10;
    --thumb-offset: 0.875rem;
  }
  .switch-track--lg {
    @apply h-6 w-12;
    --thumb-offset: 1.03125rem;
  }

  .switch-thumb {
    @apply block rounded-full bg-white shadow ring-0 pointer-events-none;
    @apply transition-all duration-200 ease-out;

    will-change: transform, width;
    transform: translateX(0);
  }

  .switch-thumb[data-state="checked"] {
    transform: translateX(var(--thumb-offset));
  }

  .switch-thumb--sm {
    @apply h-3 w-[1.03125rem];
  }
  .switch-thumb--md {
    @apply h-4 w-[1.375rem];
  }
  .switch-thumb--lg {
    @apply h-5 w-[1.71875rem];
  }

  .switch-thumb-pressed {
    width: 1.75rem;
  }
  .switch-thumb-pressed-sm {
    width: 1.25rem;
  }
  .switch-thumb-pressed-lg {
    width: 2.125rem;
  }

  .switch-label-wrapper {
    @apply flex flex-col cursor-pointer;
  }
  .switch-label-wrapper[data-disabled="true"] {
    @apply cursor-not-allowed;
  }

  .switch-label {
    @apply font-medium text-primaryText leading-none;
  }

  .switch-label-wrapper[data-size="sm"] .switch-label {
    @apply text-sm;
  }

  .switch-label-wrapper[data-size="md"] .switch-label {
    @apply text-sm mt-0.5;
  }

  .switch-label-wrapper[data-size="lg"] .switch-label {
    @apply text-base mt-1;
  }

  .switch-description {
    @apply text-xs text-secondaryText mt-0.5;
  }
}
