@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@import "tailwindcss";

@import "../../../packages/core/src/index.css";

@layer base {
  html,
  body {
    font-family: "Inter", sans-serif;
  }
}
