@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@import "tailwindcss";

/* 1. Importación ÚNICA del sistema de diseño */
/* Esto ya incluye internamente a core, utilities y los estilos de componentes */
/*@import "@kori-ui/styles";*/
/*@import "../../../packages/core/src/index.css";*/

@import "../../../packages/styles/src/index.css"; 

/* 2. Definición de variables globales */
@theme {
  --color-background: #ffffff;
  --color-surface: #f9fafb;
  --color-text-main: var(--color-gray-900);
  --color-border-main: var(--color-gray-200);
  --color-docs-brand: #8b5cf6;
  --sidebar-bg: var(--color-gray-50);
}

@layer base {
  .dark {
    --color-background: #0a0a0a;
    --color-surface: #171717;
    --color-text-main: #ffffff;
    --color-border-main: var(--color-gray-800);
    --sidebar-bg: #111111;
    color-scheme: dark;
  }

  html,
  body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-main);
    @apply antialiased transition-colors duration-100;
  }

  * {
    border-color: var(--color-border-main);
  }
}
