@import "tailwindcss";
@import "@kori-ui/styles";

@import "./typography.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  font-family: var(--font-sans);
}
