@theme {
  --color-page-bg: #010101;
  --color-border-component: #262626;
  --color-component: #161616;
}

@layer base {
  .dark {
    --color-page-bg: #0a0a0a;
    --color-component: #101010;
    --color-border-component: #262626;
  }
}
