.prose-content {
  & h1 {
    @apply text-primaryText text-4xl font-semibold mb-8 tracking-tighter;
  }

  & h2 {
    @apply text-2xl font-medium mb-4 mt-16 text-zinc-100 pb-2 tracking-tight;
  }

  & h3 {
    @apply text-xl font-medium mb-2 mt-10 tracking-tight;
  }

  & p {
    @apply text-zinc-400 leading-relaxed mb-5 text-[15px];
  }

  & pre {
    @apply p-4 rounded-xl border border-zinc-800 bg-zinc-900/50 my-6 overflow-x-auto;
  }

  & code:not(pre code) {
    @apply bg-zinc-800 text-zinc-200 px-1.5 py-0.5 rounded text-sm font-mono;
  }

  & ul,
  & ol {
    @apply mb-5 ml-6 text-zinc-400 space-y-2;
  }

  & ul {
    @apply list-disc;
  }

  & li strong {
    @apply text-zinc-200;
  }
}
